<footer class="footer bg-darken-1 clearfix py4 mt3">

  <div class="container px3 sm-px4">

    
    <div class="clearfix">
      <div class="sm-col sm-col-6">
        <p class="left-align rss-subscribe mb2"><a href="/search">Search</a> | <a href="https://gitlab.com/btelle/chowdown">Gitlab</a></a></p>
      </div>
      <div class="sm-col sm-col-6">
        <p class="right-align mb2">Made with <svg class="js-geomicon geomicon" height="0.8em" data-icon="heart" viewBox="0 0 32 32" style="fill:#007FFF"><title>heart icon</title><path d="M0 10 C0 6, 3 2, 8 2 C12 2, 15 5, 16 6 C17 5, 20 2, 24 2 C30 2, 32 6, 32 10 C32 18, 18 29, 16 30 C14 29, 0 18, 0 10"></path></svg> by <a href="http://twiter.com/clarklab">@clarklab</a></p>
      </div>
    </div>
    
  </div>

</footer>
